form {
    width: 350px;
    height: 550px;
    
    background-color: whitesmoke;

    border-radius: 5px;
    border: 15px solid rgba(200, 200, 200, 0.15);
    display: flex;
    flex-direction: column;   
}
  